/*Initial Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222429;
    line-height: 2rem;
}

ul {
    list-style-type: none;
}

.level-one-header, 
.level-two-header,
.level-three-header,
.nav-link {
    letter-spacing: 0.3rem;
    font-weight: lighter;
}

.level-one-header {
    font-size: 3.5rem;
}

.level-two-header {
    font-size:  2rem;
}

.level-three-header {
    font-size: 1.5rem;
}

.paragraph,
li {
    font-size: 1.2rem;
    margin: 1% auto 2%;
    letter-spacing: 0.1rem;
    width: 75%;
}

.banner {
    position: relative;
}

.banner-img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.banner-text {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}


@media (max-width: 1000px){
    
    .level-one-header, 
    .level-two-header,
    .level-three-header {
        letter-spacing: 0.1rem;
    }

    .level-one-header {
        font-size: 2rem;
        font-weight: bold;
    }

    .level-two-header {
        font-size: 1.7rem;
    }

    .level-three-header {
        font-size: 1.5rem;
    }

    .paragraph,
    .li {
        font-size: 1rem;
    }

    .banner-img {
        height: 100px;
    }

}
