/*Initial Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #222429;
  line-height: 2rem;
}

@keyframes fade-dark {
  from {
    background-color: white;
    color: #222429;
  }
  to {
    background-color: #222429;
    color: white;
  }
}

.dark-mode {
  animation-name: fade-dark;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.dark-mode::-webkit-scrollbar-thumb {
  background-color: white;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222429;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.level-one-header,
.level-two-header,
.level-three-header,
.nav-link {
  letter-spacing: 0.3rem;
  font-weight: lighter;
}

.level-one-header {
  font-size: 3.5rem;
}

.level-two-header {
  font-size: 2rem;
}

.level-three-header {
  font-size: 1.5rem;
}

.paragraph {
  font-size: 1.2rem;
  margin: 1% auto 2%;
  letter-spacing: 0.1rem;
  width: 75%;
}

.banner {
  position: relative;
}

.banner-img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.banner-text {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.icon {
  background-color: inherit;
  width: 32px;
  height: auto;
}

.icon:link,
.icon:visited {
  opacity: 1;
}

.icon:hover {
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .level-one-header,
  .level-two-header,
  .level-three-header {
    letter-spacing: 0.1rem;
  }

  .level-one-header {
    font-size: 2rem;
    font-weight: bold;
  }

  .level-two-header {
    font-size: 1.7rem;
  }

  .level-three-header {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .banner-img {
    height: 100px;
  }
}
