.level-one-header, 
.level-two-header {
    font-weight: lighter;
    letter-spacing: 0.5rem;
}

.name-title {
    text-align: center;
    height: 100vh;
}

.name-title .profile-pic {
    border-radius: 100%;
    margin: 15% auto 1%;
    height: 200px;
    width: 200px;
}

.name-title .level-one-header {
    font-size: 3.5rem;
    margin: 3% auto 2%;
}

.name-title .level-two-header {
    font-size:  1.8rem;
}


@media (max-width: 750px){
    
    .level-one-header, 
    .level-two-header {
        letter-spacing: 0;
    }

    .name-title .profile-pic {
        margin: 25% auto 5%;
    }

  .name-title .level-one-header {
        margin: 3% auto 2%;
        font-size: 1.7rem;
        font-weight: bolder;
    }

    .name-title .level-two-header {
        font-weight:bold;
        font-size: 1.4rem;
    }
}