.name-title {
    text-align: center;
    height: 100vh;
}

.name-title .profile-pic {
    border-radius: 100%;
    margin: 15% auto 1%;
    height: 200px;
    width: 200px;
}

.name-title .level-one-header {
    margin: 3% auto 2%;
}

@media (max-width: 1000px){
    .name-title .profile-pic {
        margin: 25% auto 5%;
    }

  .name-title .level-one-header {
        margin: 3% auto 2%;
    }

}