.about-me {
    margin-bottom: 3%;
}

.about-me img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.about-me .about-me-img {
    position: relative;
}

.about-me-img .level-two-header {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
