---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(168, 168, 168, 0.2),
    0 0 5px 0 rgba(168, 168, 168, 0.2);
  position: sticky;
  top: 0;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222429;
}

.search > input {
  border: none;
  border-bottom: #222429 1px solid;
  color: #222429;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
}

#results-container {
  list-style-type: none;
}

#results-container li {
  margin-top: 5px;
}
