.skills-container {
    margin: 1% auto 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}

.skill-group {
    margin: 2%;
    width: 30%;
}

.skills .level-three-header {
    margin-bottom: 3%;
}

@media (max-width: 750px){
    
    .skill-group {
        width: 100% !important;
    }
}
